[submodule "ARD1939/CAN_SPEC"]
	path = InverterApp/CAN_SPEC
	url = git@github.com:NDSUFormulaE/CAN_SPEC.git
[submodule "InverterApp/TaskScheduler"]
	path = InverterApp/TaskScheduler
	url = git@github.com:NDSUFormulaE/TaskScheduler.git
